.sidebar {
    -fx-width: 200px;
    -fx-margin-top: 20px;
    -fx-font-family: Verdana, Geneva, Tahoma, sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(to bottom right, #005a87, #0088cc);
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.sidebar .label {
    -fx-font-family: "Tahoma";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffb81c;
}

.sidebar .button {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #ffb81c;
    -fx-border-radius: 10px;
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;
    -fx-text-fill: #ffb81c;
}

.sidebar .button:hover {
    -fx-background-color: #ffb81c;
    -fx-background-radius: 10px;
    -fx-border-color: #ffb81c;
    -fx-border-radius: 10px;
    -fx-text-fill: #005a87;
}

.sidebar .button .font-icon {
    -fx-fill: #ffb81c;
}

.sidebar .button:hover .font-icon {
    -fx-fill: #005a87;
}

.active-students-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #005a87;
}

.student-list-view {
    -fx-min-width: 600px;  /* Minimum width setting */
    -fx-pref-width: 100%;   /* Set preferred width to stretch to 100% of the container */
    -fx-max-width: Infinity; /* Maximum width to ensure it can grow */
    -fx-background-color: #f5f5f5;      /* Background color of the ListView */
    -fx-border-width: 1px;
    -fx-border-color: #005a87;
    -fx-font-size: 16px;                 /* Font size for items */
}

.student-list-view .list-cell {
    -fx-padding: 10;                     /* Padding for each item */
    -fx-background-color: #ffffff;       /* Default background color for each item */
    -fx-text-fill: #005a87;              /* Text color for items */
}

/* Hover effect */
.student-list-view .list-cell:hover {
    -fx-background-color: #e2f1ff;       /* Change background on hover */
}

/* Selected item style */
.student-list-view .list-cell:selected {
    -fx-background-color: #66b3ff;       /* Background color for selected item */
    -fx-text-fill: white;                 /* Text color for the selected item */
}

.vbox {
    -fx-spacing: 10px;
}

.edit-label {
    -fx-font-size: 14px;
    -fx-text-fill: #005a87;
}

.edit-textbox {
    -fx-background-color: #ffffff;
    -fx-border-color: #005a87;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-font-family: Tahoma;
    -fx-font-size: 14px;
}

HBox .button {
    -fx-background-color: #0088cc;
    -fx-text-fill: #ffb81c;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-font-family: Tahoma;
    -fx-font-size: 16px;
}

HBox .button:hover {
    -fx-background-color: #33a3e0;
    -fx-text-fill: #ffd566;
    -fx-cursor: hand;
}

HBox .button-delete {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-font-family: Tahoma;
    -fx-font-size: 16px;
}

HBox .button-delete:hover {
    -fx-background-color: #ff6666;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.label-warning {
    -fx-text-fill: #ff0000;
}

.edit-combobox {
    -fx-background-color: #ffffff;
    -fx-border-color: #005a87;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-font-family: Tahoma;
    -fx-font-size: 14px;
    -fx-control-inner-background: #ffffff;
    -fx-mark-color: #005a87;
}

.edit-combobox .list-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #005a87;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.edit-combobox .list-view .list-cell:filled:hover {
    -fx-background-color: #66b3ff;
}

.edit-combobox .list-view .list-cell:filled:selected {
    -fx-background-color: #c0c0c0;
}

.enroll-list-view {
    -fx-min-width: 350px;  /* Minimum width setting */
    -fx-pref-width: 100%;   /* Set preferred width to stretch to 100% of the container */
    -fx-max-width: Infinity; /* Maximum width to ensure it can grow */
    -fx-background-color: #f5f5f5;      /* Background color of the ListView */
    -fx-border-width: 1px;
    -fx-border-color: #005a87;
    -fx-font-size: 16px;                 /* Font size for items */
}

.enroll-list-view .list-cell {
    -fx-padding: 10;                     /* Padding for each item */
    -fx-background-color: #ffffff;       /* Default background color for each item */
    -fx-text-fill: #005a87;              /* Text color for items */
}

/* Hover effect */
.enroll-list-view .list-cell:hover {
    -fx-background-color: #e2f1ff;       /* Change background on hover */
}

/* Selected item style */
.enroll-list-view .list-cell:selected {
    -fx-background-color: #66b3ff;       /* Background color for selected item */
    -fx-text-fill: white;                 /* Text color for the selected item */
}

.dashboard-card {
    -fx-background-color: white;
    -fx-background-radius: 25px;
    -fx-border-width: 1px;
    -fx-border-color: #005a87;
    -fx-border-radius: 25px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0.0, 2, 2);
}

.dashboard-value {
    -fx-font-family: Tahoma;
    -fx-font-size: 24px;
    -fx-text-fill: #005a87;
    -fx-font-weight: bold;
}

.dashboard-title {
    -fx-font-family: Tahoma;
    -fx-font-size: 20px;
    -fx-text-fill: #005a87;
}